

					<div id ="contact-map-block" class ="block">

						<h2>Contacts</h2>

						<div id="map"></div>

					</div>

					<!-- Content Inner -->
					<div class = "content-inner">

						<div class = "left-sidebar">

							<div id = "contact-information" class="block">

								<h2>Contact Information</h2>

								<div class = "block-content">{% include contact-block.html %}</div>

							</div>

						</div>

						<div class = "content">

							<div id = "contact-form" class = "block">{% include contact-form.html %}</div>

						</div>

						<div class="clear"></div>

					</div><!-- /Content Inner -->
