
									<div class="text-field date">
										<div class="text-field-left">
											From<br/>Aug<br/>2012
											<br/>
											to<br/>Aug 2013
										</div>
										<div class="text-field-right">
											<div class="title">System Administrator / Web Developer</div>
											<div class="meta without-icon">
												<span class="tag">Merit International</span>
											</div>
											<div class="text">
												<p>
													Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.
												</p>
											</div>
										</div>
									</div>

									<div class="text-field date">
										<div class="text-field-left">
											From<br/>Oct<br/>2011
											<br/>
											to<br/>Present
										</div>
										<div class="text-field-right">
											<div class="title">Owner / Operator</div>
											<div class="meta without-icon">
												<span class="tag">digitalRoots</span>
											</div>
											<div class="text">
												<p>
													Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.
												</p>
											</div>
										</div>
									</div>

									<div class="text-field date">
										<div class="text-field-left">
											From<br/>Jan<br/>2009
											<br/>
											to<br/>Dec<br/>2010
										</div>
										<div class="text-field-right">
											<div class="title">Owner / Operator</div>
											<div class="meta without-icon">
												<span class="tag">OI Systems</span>
											</div>
											<div class="text">
												<p>
													Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.
												</p>
											</div>
										</div>
									</div>

									<div class="text-field date">
										<div class="text-field-left">
											From<br/>2006
											<br/>
											to<br/>/>2005
										</div>
										<div class="text-field-right">
											<div class="title">Computer Technician</div>
											<div class="meta without-icon">
												<span class="tag">H&amp;R Block</span>
											</div>
											<div class="text">
												<p>
													Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.
												</p>
											</div>
										</div>
									</div>

									<div class="text-field date">
										<div class="text-field-left">
											From<br/>2001
											<br/>
											to<br/>2003
										</div>
										<div class="text-field-right">
											<div class="title">Systems Analyst</div>
											<div class="meta without-icon">
												<span class="tag">Los Angeles Superior Court</span>
											</div>
											<div class="text">
												<p>
													Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.
												</p>
											</div>
										</div>
									</div>

									<div class="text-field date">
										<div class="text-field-left">
											From<br/>1997
											<br/>
											to<br/>1999
										</div>
										<div class="text-field-right">
											<div class="title">Student Worker/div>
											<div class="meta without-icon">
												<span class="tag">Los Angeles Superior Court</span>
											</div>
											<div class="text">
												<UL>
													<LI><P>Service HP printers, clean, change roller, add memory, set up DirectJet.</P>
													<LI><P>Provide desktop support for pre-MS-DOS 5.x to Windows 98.</P>
													<LI><P>Virus removal with such tools as CPAV, McAfee, Symantec AntiVirus.</P>
													<LI><P>Performed maintenance and diagnostic on computers using tools like Norton Utilities.</P>
													<LI><P>Upgrade workstations and transfer user data using LapLink.</P>
													<LI><P>Setup WinFax Pro to replace fax machines.</P>
												</UL>
											</div>
										</div>
									</div>


									<div class="text-field date">
										<div class="text-field-left">
											From<br/>Jan<br/>2009
											<br/>
											to<br/>Dec<br/>2010
										</div>
										<div class="text-field-right">
											<div class="title">Owner / Operator</div>
											<div class="meta without-icon">
												<span class="tag">OI Systems</span>
											</div>
											<div class="text">
												<p>
													Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.
												</p>
											</div>
										</div>
									</div>
<!---------------------------->


									<div class="text-field date">
										<div class="text-field-left">
											From<br/>Jan<br/>2009
											<br/>
											to<br/>Dec<br/>2010
										</div>
										<div class="text-field-right">
											<div class="title">Owner / Operator</div>
											<div class="meta without-icon">
												<span class="tag">OI Systems</span>
											</div>
											<div class="text">
												<p>
													Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.
												</p>
											</div>
										</div>
									</div>


									<div class="text-field date">
										<div class="text-field-left">
											From<br/>Jan<br/>2009
											<br/>
											to<br/>Dec<br/>2010
										</div>
										<div class="text-field-right">
											<div class="title">Owner / Operator</div>
											<div class="meta without-icon">
												<span class="tag">OI Systems</span>
											</div>
											<div class="text">
												<p>
													Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.
												</p>
											</div>
										</div>
									</div>


									<div class="text-field date">
										<div class="text-field-left">
											From<br/>Jan<br/>2009
											<br/>
											to<br/>Dec<br/>2010
										</div>
										<div class="text-field-right">
											<div class="title">Owner / Operator</div>
											<div class="meta without-icon">
												<span class="tag">OI Systems</span>
											</div>
											<div class="text">
												<p>
													Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.
												</p>
											</div>
										</div>
									</div>


									<div class="text-field date">
										<div class="text-field-left">
											From<br/>Jan<br/>2009
											<br/>
											to<br/>Dec<br/>2010
										</div>
										<div class="text-field-right">
											<div class="title">Owner / Operator</div>
											<div class="meta without-icon">
												<span class="tag">OI Systems</span>
											</div>
											<div class="text">
												<p>
													Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.
												</p>
											</div>
										</div>
									</div>
<!---------------------->


									<div class="text-field date">
										<div class="text-field-left">
											From<br/>Jan<br/>2009
											<br/>
											to<br/>Dec<br/>2010
										</div>
										<div class="text-field-right">
											<div class="title">Owner / Operator</div>
											<div class="meta without-icon">
												<span class="tag">OI Systems</span>
											</div>
											<div class="text">
												<p>
													Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.
												</p>
											</div>
										</div>
									</div>


									<div class="text-field date">
										<div class="text-field-left">
											From<br/>Jan<br/>2009
											<br/>
											to<br/>Dec<br/>2010
										</div>
										<div class="text-field-right">
											<div class="title">Owner / Operator</div>
											<div class="meta without-icon">
												<span class="tag">OI Systems</span>
											</div>
											<div class="text">
												<p>
													Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.
												</p>
											</div>
										</div>
									</div>
