
					<!-- Content Inner -->
					<div class = "content-inner">

						<!-- Left Sidebar -->
						<div class = "left-sidebar page">

							<div id = "programming" class = "block">

								<h2>Programming</h2>

								<div class = "block-content">

									<div class = "field roll-with-description hide">
										<div class = "roll-button"><span></span></div>
										<div class = "roll-field">
											<div class = "label">HTML & CSS</div>
											<div class = "progressbar">
												<span class = "progress-count" level = "70"></span>
											</div>
											<div class = "description">
												...
											</div>
										</div>
									</div>

									<div class = "field roll-with-description hide">
										<div class = "roll-button"><span></span></div>
										<div class = "roll-field">
											<div class = "label">PHP</div>
											<div class = "progressbar">
												<span class = "progress-count" level = "60"></span>
											</div>
											<div class = "description">
												...
											</div>
										</div>
									</div>

									<div class = "field roll-with-description show">
										<div class = "roll-button"><span></span></div>
										<div class = "roll-field">
											<div class = "label">ASP .NET</div>
											<div class = "progressbar">
												<span class = "progress-count" level = "80"></span>
											</div>
											<div class = "description">
												Development of a web 2.0 community with ASP .NET framework for an online touristic agency.
											</div>
										</div>
									</div>

									<div class="clear"></div>

								</div>

							</div>

							<div id = "office-apps" class = "block">

								<h2>Office Applications</h2>

								<div class = "block-content">

									<div class = "roll-field">
										<div class = "label">MS Word</div>
										<div class = "progressbar">
											<span class = "progress-count" level = "75"></span>
										</div>
									</div>

									<div class = "roll-field">
										<div class = "label">MS Excel</div>
										<div class = "progressbar">
											<span class = "progress-count" level = "80"></span>
										</div>
									</div>

									<div class = "roll-field">
										<div class = "label">Visio</div>
										<div class = "progressbar">
											<span class = "progress-count" level = "85"></span>
										</div>
									</div>

									<div class = "roll-field">
										<div class = "label">Powerpoint</div>
										<div class = "progressbar">
											<span class = "progress-count" level = "90"></span>
										</div>
									</div>

								</div>

							</div>

						</div><!-- /Left Sidebar -->

						<!-- Content -->
						<div class = "content">

							<div id = "employment" class = "block">
								<h2>Employment</h2>
								<div class = "block-content">{% include cv-employment.html %}</div>
							</div>

							<div id = "organizations" class = "block last">
								<h2>Organizations</h2>
								<div class = "block-content">
								<div class = "block-content">{% /**include organizations.html*/ %}</div>
							</div>

						</div><!-- /Content -->

						<div class="clear"></div>

					</div><!-- /Content Inner -->
