
					<!-- Content Inner -->
					<div class = "content-inner">

						<!-- Left Sidebar -->
						<div class = "left-sidebar page">

							<div id = "programming" class = "block">

								<h2>Programming</h2>

								<div class = "block-content">

									<div class = "field roll-with-description hide">

										<div class = "roll-button">
											<span></span>
										</div>

										<div class = "roll-field">

											<div class = "label">
												HTML & CSS
											</div>

											<div class = "progressbar">
												<span class = "progress-count" level = "70"></span>
											</div>

											<div class = "description">
												...
											</div>

										</div>

									</div>

									<div class = "field roll-with-description hide">

										<div class = "roll-button">
											<span></span>
										</div>

										<div class = "roll-field">

											<div class = "label">
												PHP
											</div>

											<div class = "progressbar">
												<span class = "progress-count" level = "60"></span>
											</div>

											<div class = "description">
												...
											</div>

										</div>

									</div>

									<div class = "field roll-with-description show">

										<div class = "roll-button">
											<span></span>
										</div>

										<div class = "roll-field">

											<div class = "label">
												ASP .NET
											</div>

											<div class = "progressbar">
												<span class = "progress-count" level = "80"></span>
											</div>

											<div class = "description">
												Development of a web 2.0 community with ASP .NET framework for an online touristic agency.
											</div>

										</div>

									</div>

									<!-- Cleaner --><div class="clear"></div><!-- /Cleaner -->

								</div>

							</div>

							<div id = "office-apps" class = "block">

								<h2>Office Applications</h2>

								<div class = "block-content">

									<div class = "roll-field">

										<div class = "label">
											MS Word
										</div>

										<div class = "progressbar">
											<span class = "progress-count" level = "75"></span>
										</div>

									</div>

									<div class = "roll-field">

										<div class = "label">
											MS Excel
										</div>

										<div class = "progressbar">
											<span class = "progress-count" level = "80"></span>
										</div>

									</div>

									<div class = "roll-field">

										<div class = "label">
											Visio
										</div>

										<div class = "progressbar">
											<span class = "progress-count" level = "85"></span>
										</div>

									</div>

									<div class = "roll-field">

										<div class = "label">
											Powerpoint
										</div>

										<div class = "progressbar">
											<span class = "progress-count" level = "90"></span>
										</div>

									</div>

								</div>

							</div>

						</div><!-- /Left Sidebar -->

						<!-- Content -->
						<div class = "content">

							<div id = "employment" class = "block">

								<h2>Employment</h2>

								<div class = "block-content">

									<div class="text-field date">

										<div class="text-field-left">
											From
											<br/>
											Apr
											<br/>
											2013
											<br/>
											to
											<br/>
											Now
										</div>

										<div class="text-field-right">

											<div class="title">
												Web Developer
											</div>

											<div class="meta without-icon">
												<span class="tag">Themeforest</span>
											</div>

											<div class="text">
												<p>
													Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.
												</p>
											</div>

										</div>

									</div>

									<div class="text-field date">

										<div class="text-field-left">
											From
											<br/>
											Oct
											<br/>
											2009
											<br/>
											to
											<br/>
											Apr
											<br/>
											2013
										</div>

										<div class="text-field-right">

											<div class="title">
												Front-End Developer
											</div>

											<div class="meta without-icon">
												<span class="tag">Codecanyon</span>
											</div>

											<div class="text">
												<p>
													Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.
												</p>
											</div>

										</div>

									</div>

									<div class="text-field date">

										<div class="text-field-left">
											From
											<br/>
											Jan
											<br/>
											2012
											<br/>
											to
											<br/>
											Jan
											<br/>
											2012
										</div>

										<div class="text-field-right">

											<div class="title">
												Web Developer
											</div>

											<div class="meta without-icon">
												<span class="tag">Freelance</span>
											</div>

											<div class="text">
												<p>
													Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.
												</p>
											</div>

										</div>

									</div>

								</div>

							</div>

							<div id = "education" class = "block last">

								<h2>Education</h2>

								<div class = "block-content">

									<div class="text-field date">

										<div class="text-field-left">
											From
											<br/>
											Sep
											<br/>
											2007
											<br/>
											to
											<br/>
											Jun
											<br/>
											2009
										</div>

										<div class="text-field-right">

											<div class="title">
												Master of Engineering
											</div>

											<div class="meta without-icon">
												<span class="tag">Harvard</span>
											</div>

											<div class="text">
												<p>
													Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.
												</p>
											</div>

										</div>

									</div>

									<div class="text-field date last">

										<div class="text-field-left">
											From
											<br/>
											Sep
											<br/>
											2003
											<br/>
											to
											<br/>
											Jun
											<br/>
											2007
										</div>

										<div class="text-field-right">

											<div class="title">
												Bachelor’s Degree in Engineering
											</div>

											<div class="meta without-icon">
												<span class="tag">Harvard</span>
											</div>

											<div class="text">
												<p>
													Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.
												</p>
											</div>

										</div>

									</div>

								</div>

							</div>

						</div><!-- /Content -->

						<!-- Cleaner --><div class="clear"></div><!-- /Cleaner -->

					</div><!-- /Content Inner -->
