
					<!-- Content -->
					<div class = "content">

						<h2>Favorites</h2>

						<!-- Portfolio Menu -->
						<ul id="portfolio-menu">
							<li><a href="#" class="current" data-filter="*">All</a></li>
							<li><a href="#" data-filter=".podcast">Podcasts</a></li>
							<li><a href="#" data-filter=".book">Books</a></li>
							<li><a href="#" data-filter=".person">People</a></li>
							<li><a href="#" data-filter=".comic">Comics</a></li>
							<li><a href="#" data-filter=".music">Music</a></li>
						</ul><!-- /Portfolio Menu -->

						<!-- Portfolio Container -->
						<ul id="portfolio-container">

							<li class = "podcast">
								<a href="http://twit.tv/show/this-week-in-tech" title="This Week in Tech">
									<div class = "image-field">
										<div class = "image"><img class = "cover" src = "http://twit.tv/files/imagecache/coverart-feed/coverart/twit600.jpg" height="150" width="150"/></div>
										<div class = "title">This Week in Tech</div>
									</div>
								</a>
							</li>

							<li class = "podcast">
								<a href="http://www.jupiterbroadcasting.com/show/techsnap/" title="TechSNAP">
									<div class = "image-field">
										<div class = "image"><img class = "cover" src = "http://images3.wikia.nocookie.net/__cb20110725190525/jupiterbroadcasting/images/thumb/9/93/Techsnap.jpg/180px-Techsnap.jpg" height="112" width="200" style="margin-top: 19px"/></div>
										<div class = "title">TechSNAP</div>
									</div>
								</a>
							</li>

							<li class = "person">
								<a href="http://en.wikipedia.org/wiki/Steve_Wozniak" title="Steve Wozniak">
									<div class = "image-field">
										<div class = "image"><img class = "cover" src = "images/content/favorites/steve_wozniak.jpg" height="150" width="200"/></div>
										<div class = "title">Steve Wozniak</div>
									</div>
								</a>
							</li>

							<li class = "book">
								<a href="http://readyplayerone.com/" title="Ready Player One">
									<div class = "image-field">
										<div class = "image"><img class = "cover" src = "images/content/favorites/ready_player_one.jpg" height="150" width="99"/></div>
										<div class = "title">Ready Player One</div>
									</div>
								</a>
							</li>

							<li class = "person">
								<a href="http://en.wikipedia.org/wiki/Jeri_Ellsworth" title="Jeri Ellsworth">
									<div class = "image-field">
										<div class = "image"><img class = "cover" src = "images/content/favorites/jeri_ellsworth.jpg" height="150" width="200"/></div>
										<div class = "title">Jeri Ellsworth</div>
									</div>
								</a>
							</li>

							<li class = "podcast">
								<a href="http://hak5.org" title="Hak5">
									<div class = "image-field">
										<div class = "image"><img class = "cover" src = "images/content/favorites/hak5.jpg" height="150" width="150"/></div>
										<div class = "title">Hak5</div>
									</div>
								</a>
							</li>

							<li class = "music">
								<a href="http://dualcoremusic.com" title="Dual Core">
									<div class = "image-field">
										<div class = "image"><img class = "cover" src = "images/content/favorites/dual_core.jpg" height="150" width="150"/></div>
										<div class = "title">Dual Core</div>
									</div>
								</a>
							</li>

							<li class = "comic">
								<a href="http://xkcd.com/" title="xkcd">
									<div class = "image-field">
										<div class = "image"><img class = "cover" src = "images/content/favorites/xkcd.png" height="150" width="200"/></div>
										<div class = "title">xkcd</div>
									</div>
								</a>
							</li>

							<li class = "person">
								<a href="http://archive.org/download/GaryKild/GaryKild_512kb.mp4" title="Gary Kildall">
									<div class = "image-field">
										<div class = "image"><img class = "cover" src = "images/content/favorites/gary_kildall.jpg" height="150" width="200"/></div>
										<div class = "title">Gary Kildall</div>
									</div>
								</a>
							</li>

							<li class = "comic">
								<a href="http://www.bonkersworld.net/" title="Bonkers World">
									<div class = "image-field">
										<div class = "image"><img class = "cover" src = "images/content/favorites/bonkers_world.jpg" height="150" width="150"/></div>
										<div class = "title">Bonkers World</div>
									</div>
								</a>
							</li>

							<li class = "comic">
								<a href="www.explosm.net/comics" title="Cyanide &amp; Happiness">
									<div class = "image-field">
										<div class = "image"><img class = "cover" src = "images/content/favorites/cyanide_and_happiness.png" height="150" width="200"/></div>
										<div class = "title">Cyanide &amp; Happiness</div>
									</div>
								</a>
							</li>

						</ul><!-- /Portfolio Container -->

					</div><!-- /Content -->

					<div class="clear"></div>

