
					<!-- Content -->
					<div class = "content">

						<h2>Portfolio</h2>

						<!-- Portfolio Menu -->
						<ul id="portfolio-menu">
							<li><a href="#" class="current" data-filter="*">All</a></li>
							<li><a href="#" data-filter=".podcast">Podcasts</a></li>
							<li><a href="#" data-filter=".people">People</a></li>
							<li><a href="#" data-filter=".music">Music</a></li>
						</ul><!-- /Portfolio Menu -->

						<!-- Portfolio Container -->
						<ul id="portfolio-container">

							<li class = "podcast">
								<a href="http://twit.tv/show/this-week-in-tech" title="This Week in Tech" class="">
								<div class = "image-field">
									<div class = "image"><img src = "http://twit.tv/files/imagecache/coverart-feed/coverart/twit600.jpg" height="150" width="150"/><span></span></div>
									<div class = "title">Project Title Goes Here</div>
								</div> </a>
							</li>

							<li class = "development">
								<a href="images/content/pic2.jpg" title="Project Title Goes Here" class="popup">
								<div class = "image-field">
									<div class = "image"><img src = "images/content/pic2-thumb.jpg" height="150" width="200"/><span></span></div>
									<div class = "title">Project Title Goes Here</div>
								</div> </a>
							</li>

							<li class = "development">
								<a href="images/content/pic3.jpg" title="Project Title Goes Here" class="popup">
								<div class = "image-field">
									<div class = "image"><img src = "images/content/pic3-thumb.jpg" height="150" width="200"/><span></span></div>
									<div class = "title">Project Title Goes Here</div>
								</div> </a>
							</li>

							<li class = "development">
								<a href="images/content/pic4.jpg" title="Project Title Goes Here" class="popup">
								<div class = "image-field">
									<div class = "image"><img src = "images/content/pic4-thumb.jpg" height="150" width="200"/><span></span></div>
									<div class = "title">Project Title Goes Here</div>
								</div> </a>
							</li>

							<li class = "design">
								<a href="images/content/pic5.jpg" title="Project Title Goes Here" class="popup">
								<div class = "image-field">
									<div class = "image"><img src = "images/content/pic5-thumb.jpg" height="150" width="200"/><span></span></div>
									<div class = "title">Project Title Goes Here</div>
								</div> </a>
							</li>

							<li class = "design">
								<a href="images/content/pic6.jpg" title="Project Title Goes Here" class="popup">
								<div class = "image-field">
									<div class = "image"><img src = "images/content/pic6-thumb.jpg" height="150" width="200"/><span></span></div>
									<div class = "title">Project Title Goes Here</div>
								</div> </a>
							</li>

							<li class = "design">
								<a href="images/content/pic7.jpg" title="Project Title Goes Here" class="popup">
								<div class = "image-field">
									<div class = "image"><img src = "images/content/pic7-thumb.jpg" height="150" width="200"/><span></span></div>
									<div class = "title">Project Title Goes Here</div>
								</div> </a>
							</li>

							<li class = "design">
								<a href="images/content/pic8.jpg" title="Project Title Goes Here" class="popup">
								<div class = "image-field">
									<div class = "image"><img src = "images/content/pic8-thumb.jpg" height="150" width="200"/><span></span></div>
									<div class = "title">Project Title Goes Here</div>
								</div> </a>
							</li>

							<li class = "design marketing">
								<a href="images/content/pic9.jpg" title="Project Title Goes Here" class="popup">
								<div class = "image-field">
									<div class = "image"><img src = "images/content/pic9-thumb.jpg" height="150" width="200"/><span></span>
									</div>
									<div class = "title">Project Title Goes Here</div>
								</div> </a>
							</li>

							<li class = "design marketing">
								<a href="images/content/pic10.jpg" title="Project Title Goes Here" class="popup">
								<div class = "image-field">
									<div class = "image"><img src = "images/content/pic10-thumb.jpg" height="150" width="200"/><span></span></div>
									<div class = "title">Project Title Goes Here</div>
								</div> </a>
							</li>

							<li class = "marketing">
								<a href="images/content/pic11.jpg" title="Project Title Goes Here" class="popup">
								<div class = "image-field">
									<div class = "image"><img src = "images/content/pic11-thumb.jpg" height="150" width="200"/><span></span></div>
									<div class = "title">Project Title Goes Here</div>
								</div> </a>
							</li>

							<li class = "marketing">
								<a href="images/content/pic12.jpg" title="Project Title Goes Here" class="popup">
								<div class = "image-field">
									<div class = "image"><img src = "images/content/pic12-thumb.jpg" height="150" width="200"/><span></span></div>
									<div class = "title">Project Title Goes Here</div>
								</div> </a>
							</li>

						</ul><!-- /Portfolio Container -->

					</div><!-- /Content -->

					<div class="clear"></div>

