
					<!-- Content -->
					<div class = "content">

						<h2>Favorites</h2>

						<!-- Portfolio Menu -->
						<ul id="portfolio-menu">
							<li><a href="#" class="current" data-filter="*">All</a></li>
							<li><a href="#" data-filter=".podcast">Podcasts</a></li>
							<li><a href="#" data-filter=".book">Books</a></li>
							<li><a href="#" data-filter=".person">People</a></li>
							<li><a href="#" data-filter=".music">Music</a></li>
						</ul><!-- /Portfolio Menu -->

						<!-- Portfolio Container -->
						<ul id="portfolio-container">

							<li class = "podcast">
								<a href="http://twit.tv/show/this-week-in-tech" title="This Week in Tech">
									<div class = "image-field">
										<div class = "image"><img src = "http://twit.tv/files/imagecache/coverart-feed/coverart/twit600.jpg" height="150" width="150"/></div>
										<div class = "title">This Week in Tech</div>
									</div>
								</a>
							</li>

							<li class = "podcast">
								<a href="http://www.jupiterbroadcasting.com/show/techsnap/" title="TechSNAP">
									<div class = "image-field">
										<div class = "image"><img src = "http://images3.wikia.nocookie.net/__cb20110725190525/jupiterbroadcasting/images/thumb/9/93/Techsnap.jpg/180px-Techsnap.jpg" height="101" width="180"/></div>
										<div class = "title">TechSNAP</div>
									</div>
								</a>
							</li>

							<li class = "person">
								<a href="http://en.wikipedia.org/wiki/Steve_Wozniak" title="Steve Wozniak">
									<div class = "image-field">
										<div class = "image"><img src = "http://blog.sfgate.com/ontheblock/files/2013/03/1296071-steve_wozniak05.jpg" height="150" width="150"/></div>
										<div class = "title">Woz</div>
									</div>
								</a>
							</li>

							<li class = "book">
								<a href="http://readyplayerone.com/" title="Ready Player One">
									<div class = "image-field">
										<div class = "image"><img src = "http://bks9.books.google.com/books?id=J8ahqXjUhAAC&printsec=frontcover&img=1&zoom=1&h=150&stbn=1" height="150" width="99"/></div>
										<div class = "title">Ready Player One</div>
									</div>
								</a>
							</li>

							<li class = "person">
								<a href="http://en.wikipedia.org/wiki/Jeri_Ellsworth" title="Jeri Ellsworth">
									<div class = "image-field">
										<div class = "image"><img src = "http://images.eurogamer.net/2013/articles//a/1/5/5/6/1/0/3/jeri_ellsworth_nw_trip.jpg.jpg/EG11/resize/200x-1/quality/91" height="150" width="200"/></div>
										<div class = "title">Jeri Ellsworth</div>
									</div>
								</a>
							</li>

							<li class = "music">
								<a href="http://dualcoremusic.com" title="Dual Core">
									<div class = "image-field">
										<div class = "image"><img src = "images/content/favorites/dualcore.jpg" height="150" width="150"/></div>
										<div class = "title">Dual Core</div>
									</div>
								</a>
							</li>

						</ul><!-- /Portfolio Container -->

					</div><!-- /Content -->

					<div class="clear"></div>

