
							<div class="services-item ">
								<i class="icon-desktop"></i>
								<h3>Web Design <span>&amp; </span>Development</h3>
								<p>Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.</p>
							</div>
							<div class="services-item">
								<i class="icon-thumbs-up-alt"></i>
								<h3>Apps, Contests <span>&amp; </span>Sweepstakes</h3>
								<p>Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.</p>
							</div>
							<div class="services-item">
								<i class="icon-mobile-phone"></i>
								<h3>Mobile Apps <span>&amp;</span>Contents</h3>
								<p>Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.</p>
							</div>
							<div class="services-item">
								<i class="icon-picture"></i>
								<h3>Social Media <span>&amp; </span>Web Content</h3>
								<p>Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.</p>
							</div>
