	<div id="template-settings">
		<i class="icon-cog"></i>
		
		<h4>THEME:</h4>
		<select name="theme">
			<option value="lighttheme">Light Theme</option>
			<option value="darktheme">Dark Theme</option>
		</select>
		
		<h4>COLOR: *</h4>
		<input class="minicolors" type="text" name="color-picker" value="404d75" />
		
		<h4>PATTERN:</h4>
		<h4>Dark</h4>
		<div class="settings-pattern">
			<img src="img/patterns/pattern_icon1_black_white.png" alt="" id="pattern1_black" />		
			<img src="img/patterns/pattern_icon2_black_white.png" alt="" id="pattern2_black" />
			<img src="img/patterns/pattern_icon3_black_white.png" alt="" id="pattern3_black" />
			<img src="img/patterns/pattern_icon4_black_white.png" alt="" id="pattern4_black" />
			<img src="img/patterns/pattern_icon5_black_white.png" alt="" id="pattern5_black" />
			<img src="img/patterns/pattern_icon6_black_white.png" alt="" id="pattern6_black" />
			<img src="img/patterns/pattern_icon7_black_white.png" alt="" id="pattern7_black" />
			<img src="img/patterns/pattern_icon8_black_white.png" alt="" id="pattern8_black" />
			<img src="img/patterns/pattern_icon9_black_white.png" alt="" id="pattern9_black" class="selected" />
			<img src="img/patterns/pattern_icon10_black_white.png" alt="" id="pattern10_black" />
			<img src="img/patterns/pattern_icon11_black_white.png" alt="" id="pattern11_black" />
			<img src="img/patterns/pattern_icon12_black_white.png" alt="" id="pattern12_black" />
			<img src="img/patterns/pattern_icon13_black_white.png" alt="" id="pattern13_black" />
			<img src="img/patterns/pattern_icon14_black_white.png" alt="" id="pattern14_black" />
			<img src="img/patterns/pattern_icon15_black_white.png" alt="" id="pattern15_black" />
			<img src="img/patterns/pattern_icon16_black_white.png" alt="" id="pattern16_black" />
		</div>
		
		<h4>Light</h4>
		<div class="settings-pattern">
			<img src="img/patterns/pattern_icon1_white_white.png" alt="" id="pattern1_white" />		
			<img src="img/patterns/pattern_icon2_white_white.png" alt="" id="pattern2_white" />
			<img src="img/patterns/pattern_icon3_white_white.png" alt="" id="pattern3_white" />
			<img src="img/patterns/pattern_icon4_white_white.png" alt="" id="pattern4_white" />
			<img src="img/patterns/pattern_icon5_white_white.png" alt="" id="pattern5_white" />
			<img src="img/patterns/pattern_icon6_white_white.png" alt="" id="pattern6_white" />
			<img src="img/patterns/pattern_icon7_white_white.png" alt="" id="pattern7_white" />
			<img src="img/patterns/pattern_icon8_white_white.png" alt="" id="pattern8_white" />
			<img src="img/patterns/pattern_icon9_white_white.png" alt="" id="pattern9_white" />
			<img src="img/patterns/pattern_icon10_white_white.png" alt="" id="pattern10_white" />
			<img src="img/patterns/pattern_icon11_white_white.png" alt="" id="pattern11_white" />
			<img src="img/patterns/pattern_icon12_white_white.png" alt="" id="pattern12_white" />
			<img src="img/patterns/pattern_icon13_white_white.png" alt="" id="pattern13_white" />
			<img src="img/patterns/pattern_icon14_white_white.png" alt="" id="pattern14_white" />
			<img src="img/patterns/pattern_icon15_white_white.png" alt="" id="pattern15_white" />
			<img src="img/patterns/pattern_icon16_white_white.png" alt="" id="pattern16_white" />
		</div>
		
		<div>* May not be fully accurate!</div>
	</div>