
					<!-- Content Inner -->
					<div class = "content-inner">

						<!-- Right Sidebar -->
						<div class = "right-sidebar">

							<div id = "search" class="block">

								<div class="block-content">

									<input type="text" name="search" class="input" value="Search..." onblur="if (this.value.length == 0) {this.value='Search...'; this.style='color: #849299';}" onfocus="if (this.value== 'Search...') {this.value=''; this.style='color: black';}">

									<input title="Search" type="button" name="search-button" class="input">

								</div>

							</div>

							<div id = "categories" class="block">

								<h2>Categories</h2>

								<div class="block-content">

									<ul id = "blog-menu">

										<li class="first">
											<a href="#design">Design</a>
										</li>

										<li>
											<a href="#development">Development</a>
										</li>

										<li>
											<a href="#creative">Creative</a>
										</li>

										<li class="last">
											<a href="#uncategorized">Uncategorized</a>
										</li>

									</ul>

								</div>

							</div>

							<div id = "latest-tweets" class="block">

								<h2>Latest Tweets</h2>

								<div class="block-content">

									<div class="twit-field">

										<div class="twit-text">
											Lorem ipsum ex vix illud nonummy, novum tation et his. Lorem ipsum ex vix illud no
										</div>

										<div class="twit-link">
											<a href = "../../external.html?link=http://www.envato.com/">http://www.envato.com</a>
										</div>

									</div>

									<div class="twit-field">

										<div class="twit-text">
											Lorem ipsum ex vix illud nonummy, novum tation et his. Lorem ipsum ex vix illud no
										</div>

										<div class="twit-link">
											<a href = "../../external.html?link=http://www.envato.com/">http://www.envato.com</a>
										</div>

									</div>

								</div>

							</div>

						</div><!-- /Right Sidebar -->

						<!-- Content -->
						<div class = "content">

							<h2>Blog</h2>

							<!-- Blog Design -->
							<div id = "design">
								<h2>404 - Page not found</h2>Sorry, the page you are looking for might have been removed, had its name changed, or is temporarily unavailable.
							</div><!-- /Blog Design -->

							<!-- Blog Development -->
							<div id = "development">
								<h2>404 - Page not found</h2>Sorry, the page you are looking for might have been removed, had its name changed, or is temporarily unavailable.
							</div><!-- /Blog Development -->

							<!-- Blog Creative -->
							<div id = "creative">
								<h2>404 - Page not found</h2>Sorry, the page you are looking for might have been removed, had its name changed, or is temporarily unavailable.
							</div><!-- /Blog Creative -->

							<!-- Blog Uncategorized -->
							<div id = "uncategorized">

								<div class = "blog-content">

									<div class="text-field blog with-image">

										<div class="text-fiels-top">
											<a href="#blog" class="blog-post"><img src="images/content/blog/img1.jpg" width="530" height="200"/></a>
										</div>

										<div class="text-field-left">
											21
											<br/>
											Apr
											<br/>
											2013
										</div>

										<div class="text-field-right">

											<div class="title">
												<a href="#blog" class="blog-post">Blog Post Title Goes Here</a>
											</div>

											<div class="meta">
												<span class="author">Admin</span><span class="tag">Uncategorized</span>
											</div>

											<div class="text">
												<p>
													Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.
												</p>
											</div>

										</div>

									</div>

									<div class="text-field blog with-image">

										<div class="text-fiels-top">
											<a href="#blog" class="blog-post"><img src="images/content/blog/img2.jpg" width="530" height="200"/></a>
										</div>

										<div class="text-field-left">
											03
											<br/>
											Apr
											<br/>
											2013
										</div>

										<div class="text-field-right">

											<div class="title">
												<a href="#blog" class="blog-post">Blog Post Title Goes Here</a>
											</div>

											<div class="meta">
												<span class="author">Admin</span><span class="tag">Uncategorized</span>
											</div>

											<div class="text">
												<p>
													Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.
												</p>
											</div>

										</div>

									</div>

									<div class="text-field blog">

										<div class="text-field-left">
											29
											<br/>
											Mar
											<br/>
											2013
										</div>

										<div class="text-field-right">

											<div class="title">
												<a href="#blog" class="blog-post">Blog Post Title Goes Here</a>
											</div>

											<div class="meta">
												<span class="author">Admin</span><span class="tag">Uncategorized</span>
											</div>

											<div class="text">
												<p>
													Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.
												</p>
											</div>

										</div>

									</div>

									<div class="text-field blog with-image">

										<div class="text-fiels-top">
											<a href="#blog" class="blog-post"><img src="images/content/blog/img3.jpg" width="530" height="200"/></a>
										</div>

										<div class="text-field-left">
											15
											<br/>
											Mar
											<br/>
											2013
										</div>

										<div class="text-field-right">

											<div class="title">
												<a href="#blog" class="blog-post">Blog Post Title Goes Here</a>
											</div>

											<div class="meta">
												<span class="author">Admin</span><span class="tag">Uncategorized</span>
											</div>

											<div class="text">
												<p>
													Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.
												</p>
											</div>

										</div>

									</div>

									<div class="text-field blog">

										<div class="text-field-left">
											07
											<br/>
											Mar
											<br/>
											2013
										</div>

										<div class="text-field-right">

											<div class="title">
												<a href="#blog" class="blog-post">Blog Post Title Goes Here</a>
											</div>

											<div class="meta">
												<span class="author">Admin</span><span class="tag">Uncategorized</span>
											</div>

											<div class="text">
												<p>
													Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.
												</p>
											</div>

										</div>

									</div>

								</div>

								<div class = "blog-footer">
									<a class="archiv" href="#">Older Posts</a>
								</div>

								<!-- Blog Post -->
								<div id="blog-post"  style = "display: none">

									<div class = "blog-title">
										<h2>Blog Post Title Goes Here</h2>
									</div>

									<div class = "blog-image">
										<a class ="popup" href = "images/content/blog/img1-large.jpg" title="Photo Title Goes Here"><img src = "images/content/blog/img1.jpg" width="530" height="200"/>
										<div class = "blog-postdate">
											21
											<br/>
											Apr
											<br/>
											2013
										</div></a>
									</div>

									<div class = "meta">
										<span class="author">Admin</span><span class="tag">Uncategorized</span><a href = "#blog" class = "back">Back</a>
									</div>

									<div class = "blog-body">

										<p>
											Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.
										</p>

										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
										</p>

										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis.
										</p>

										<p>
											Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
										</p>

									</div>

									<div class="social-like">

										<div class="label">
											Share This Story
										</div>

										<div class="buttons">

											<a class="post-to-facebook-link" title="Отправить в социальную сеть Facebook"></a>

											<a class="post-to-googleplus-link" title="Отправить в социальную сеть Google+"></a>

											<a class="post-to-twitter-link" title="Отправить в социальную сеть Twitter"></a>

											<a class="post-to-linkedin-link" title="Отправить страницу в социальную сеть Linkedin"></a>

											<a class="post-to-pinterest-link" title="Отправить страницу в социальную сеть Pinterest"></a>

											<a class="post-to-dribbble-link" title="Отправить страницу в социальную сеть Dribbble"></a>

										</div>

									</div>

									<div id="comments">

										<h3>2 Comments</h3>

										<div class="comment">

											<div class = "user-avatar"><img src="images/ava-blank.jpg" width="58" height="58"/>
											</div>

											<div class = "comment-meta">

												<div class="author">
													Admin
												</div>

												<div>
													-
												</div>

												<div class="postdate">
													April 10, 2013 at 7:34 pm
												</div>

												<div class="pre-link-sep">
													-
												</div>

												<div class="link">
													<a href = "#post-comment">Reply</a>
												</div>

											</div>

											<div class="comment-text">

												<p>
													Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor.
												</p>

											</div>

										</div>

										<div class="indented">

											<div class="comment last">

												<div class = "user-avatar"><img src="images/ava-blank.jpg" width="58" height="58"/>
												</div>

												<div class = "comment-meta">

													<div class="author">
														Admin
													</div>

													<div>
														-
													</div>

													<div class="postdate">
														April 10, 2013 at 7:36 pm
													</div>

													<div class="pre-link-sep">
														-
													</div>

													<div class="link">
														<a href = "#post-comment">Reply</a>
													</div>

												</div>

												<div class="comment-text">

													<p>
														Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor.
													</p>

												</div>

											</div>

										</div>

										<div id="post-comment">

											<h3>Leave a Comment</h3>

											<!-- Comment Form -->
											<form id = "comment">

												<div id = "comment-about">

													<input title="Your Name" type="text" name="commetn-name" class="input" value="Name*" onblur="if (this.value.length == 0) {this.value='Name*'; this.style='color: #849299';}" onfocus="if (this.value== 'Name*') {this.value=''; this.style='color: black';}">

													<input title="Your E-Mail" type="text" name="commetn-email" class="input" value="E-mail*" onblur="if (this.value.length == 0) {this.value='E-mail*'; this.style='color: #849299';}" onfocus="if (this.value== 'E-mail*') {this.value=''; this.style='color: black';}">

													<input title="Your WebSite" type="text" name="commetn-website" class="input" value="WebSite" onblur="if (this.value.length == 0) {this.value='WebSite'; this.style='color: #849299';}" onfocus="if (this.value== 'WebSite') {this.value=''; this.style='color: black';}">

												</div>

												<div id = "comment-mess">
													<textarea title="Your Message" name="commetn-message" cols="82" rows="6" class="textarea" onclick="this.value='';"  onfocus="this.style='color: black';">Your Comment...*</textarea>



												</div>

												<div id = "comment-send">

													<input title="Send Message" type="submit" name="commetn-submit" value="Send Message" class="button">

												</div>

											</form><!-- /Comment Form -->

										</div>

									</div>

								</div><!-- /Blog Post -->

							</div><!-- /Blog Uncategorized -->

						</div><!-- /Content -->

					</div><!-- /Content Inner -->

					<div class="clear"></div>

