
									<div class = "contact-field address">
										<div id = "contact-name">
											Jeffrey Richards
										</div>

										<div id = "contact-address">
											1234 Street
											<br/>
											Mountain View, CA 94043
										</div>
										<!-- From this field take address Google map-->
									</div>

									<div class = "contact-field phone">
										<div id = "contact-phone">
											Phone: +1 123-456-7890
										</div>
										<div id = "contact-fax">
											Fax: +1 123-456-7890
										</div>
									</div>

									<div class = "contact-field mail">
										<div id = "contact-mail">
											E-mail: email@example.com
										</div>
										<div id = "contact-site">
											Website: www.example.com
										</div>
									</div>
