<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
{% include head.html %}
</head>
<body>
	<!-- BEGIN HEADER -->
	<header id="header">
		<div class="container">
			<a href="#header" id="logo" class="nav-button"><img src="img/logo.png" alt="" /></a>
		</div>
	</header>
	<!-- END HEADER -->
	
	<div id="wrap">
		<section class="nav-section">
			<a href="#header" class="nav-button"><img src="img/logo_short.png" alt="" /></a>
			<div class="container">
				<div class="row">
					<div class="span12">
						<nav id="nav"><!-- Begin Main Menu -->
							<ul>
								<li><a href="#header" class="icon" data-id="Home"><i class="icon-home"></i></a></li>
								<li><a href="#portfolio">Portfolio</a></li>
								<li><a href="#services">Our Services</a></li>
								<li><a href="#about">About Us</a></li>
								<li><a href="#contacts">Contacts</a></li>
							</ul>
						</nav><!-- End Main Menu -->
					</div>
				</div>
			</div>
		</section>
		
		<section id="portfolio">
			<div class="container">
				<div class="row">
					<div class="span12">
						<h1 class="section-title span6">Portfolio</h1>
						<p class="section-desc span6 center">Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.</p>
						
						<div id="portfolio-grid">
							<ol id="filters">
								<li data-filter="" class="active">Show All</li>
								<li data-filter="design">Design</li>
								<li data-filter="development">Development</li>
								<li data-filter="dd">Design + Development</li>
								<li data-filter="3d">3D</li>
							</ol>
							
							<ul id="folio-items">
								<li data-filter-class='["design"]'
									data-overview='[{
										"headerBg":"img/portfolio/mochito_bg_portfolio_header.jpg",
										"logo":"img/portfolio/projecto_logo.png",
										"description":"Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.",
										"url":"www.wiselythemes.com/mochito",
										"imgs":[
											{
												"title":"Mochito Template",
												"img":"img/portfolio/mochito1.png"
											},
											{
												"title":"Website Preview",
												"img":"img/portfolio/mochito2.png"
											},
											{
												"title":"Responsive Design",
												"description":"Lorem ipsum dolor sit amet",
												"img":"img/portfolio/mochito3.png"
											}]
										}]'>
									<img src="img/portfolio/image_1.jpg" alt="" />
									<div>
										<span class="tags"><a href="#">#WiselyThemes</a>, <a href="#">#Template</a>, <a href="#">#Responsive</a></span>
										<div class="info">
											<h2>Mochito</h2>
											<h5>Responsive One-Page Porfolio</h5>
											<a href="#" class="btn btn-small btn-folio">Ver mais ></a>
										</div>
									</div>
								</li>
								<li data-filter-class='["development"]'
									data-overview='[{
										"headerBg":"img/portfolio/mochito_bg_portfolio_header.jpg",
										"logo":"img/portfolio/projecto_logo.png",
										"description":"Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.",
										"url":"www.wiselythemes.com/mochito",
										"imgs":[
											{
												"title":"Mochito Template",
												"img":"img/portfolio/mochito1.png"
											},
											{
												"title":"Website Preview",
												"img":"img/portfolio/mochito2.png"
											},
											{
												"title":"Responsive Design",
												"description":"Lorem ipsum dolor sit amet",
												"img":"img/portfolio/mochito3.png"
											}]
										}]'>
									<img src="img/portfolio/image_2.jpg" alt="" />
									<div>
										<span class="tags"><a href="#">#WiselyThemes</a>, <a href="#">#Template</a>, <a href="#">#Responsive</a></span>
										<div class="info">
											<h2>Mochito</h2>
											<h5>Lorem ipsum dolor sit amet</h5>
											<a href="#" class="btn btn-small btn-folio">Ver mais ></a>
										</div>
									</div>
								</li>
								<li data-filter-class='["dd"]'
									data-overview='[{
										"headerBg":"img/portfolio/mochito_bg_portfolio_header.jpg",
										"logo":"img/portfolio/projecto_logo.png",
										"description":"Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.",
										"url":"www.wiselythemes.com/mochito",
										"imgs":[
											{
												"title":"Mochito Template",
												"img":"img/portfolio/mochito1.png"
											},
											{
												"title":"Website Preview",
												"img":"img/portfolio/mochito2.png"
											},
											{
												"title":"Responsive Design",
												"description":"Lorem ipsum dolor sit amet",
												"img":"img/portfolio/mochito3.png"
											}]
										}]'>
									<img src="img/portfolio/image_3.jpg" alt="" />
									<div>
										<span class="tags"><a href="#">#WiselyThemes</a>, <a href="#">#Template</a>, <a href="#">#Responsive</a></span>
										<div class="info">
											<h2>Mochito</h2>
											<h5>Lorem ipsum dolor sit amet</h5>
											<a href="#" class="btn btn-small btn-folio">Ver mais ></a>
										</div>
									</div>
								</li>
								<li data-filter-class='["design"]'
									data-overview='[{
										"headerBg":"img/portfolio/mochito_bg_portfolio_header.jpg",
										"logo":"img/portfolio/projecto_logo.png",
										"description":"Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.",
										"url":"www.wiselythemes.com/mochito",
										"imgs":[
											{
												"title":"Mochito Template",
												"img":"img/portfolio/mochito1.png"
											},
											{
												"title":"Website Preview",
												"img":"img/portfolio/mochito2.png"
											},
											{
												"title":"Responsive Design",
												"description":"Lorem ipsum dolor sit amet",
												"img":"img/portfolio/mochito3.png"
											}]
										}]'>
									<img src="img/portfolio/image_4.jpg" alt="" />
									<div>
										<span class="tags"><a href="#">#WiselyThemes</a>, <a href="#">#Template</a>, <a href="#">#Responsive</a></span>
										<div class="info">
											<h2>Mochito</h2>
											<h5>Lorem ipsum dolor sit amet</h5>
											<a href="#" class="btn btn-small btn-folio">Ver mais ></a>
										</div>
									</div>
								</li>
								<li data-filter-class='["development"]'
									data-overview='[{
										"headerBg":"img/portfolio/mochito_bg_portfolio_header.jpg",
										"logo":"img/portfolio/projecto_logo.png",
										"description":"Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.",
										"url":"www.wiselythemes.com/mochito",
										"imgs":[
											{
												"title":"Mochito Template",
												"img":"img/portfolio/mochito1.png"
											},
											{
												"title":"Website Preview",
												"img":"img/portfolio/mochito2.png"
											},
											{
												"title":"Responsive Design",
												"description":"Lorem ipsum dolor sit amet",
												"img":"img/portfolio/mochito3.png"
											}]
										}]'>
									<img src="img/portfolio/image_5.jpg" alt="" />
									<div>
										<span class="tags"><a href="#">#WiselyThemes</a>, <a href="#">#Template</a>, <a href="#">#Responsive</a></span>
										<div class="info">
											<h2>Mochito</h2>
											<h5>Lorem ipsum dolor sit amet</h5>
											<a href="#" class="btn btn-small btn-folio">Ver mais ></a>
										</div>
									</div>
								</li>
								<li data-filter-class='["dd"]'
									data-overview='[{
										"headerBg":"img/portfolio/mochito_bg_portfolio_header.jpg",
										"logo":"img/portfolio/projecto_logo.png",
										"description":"Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.",
										"url":"www.wiselythemes.com/mochito",
										"imgs":[
											{
												"title":"Mochito Template",
												"img":"img/portfolio/mochito1.png"
											},
											{
												"title":"Website Preview",
												"img":"img/portfolio/mochito2.png"
											},
											{
												"title":"Responsive Design",
												"description":"Lorem ipsum dolor sit amet",
												"img":"img/portfolio/mochito3.png"
											}]
										}]'>
								  <img src="img/portfolio/image_6.jpg" alt="" />
								  <div>
										<span class="tags"><a href="#">#WiselyThemes</a>, <a href="#">#Template</a>, <a href="#">#Responsive</a></span>
										<div class="info">
											<h2>Mochito</h2>
											<h5>Lorem ipsum dolor sit amet</h5>
											<a href="#" class="btn btn-small btn-folio">Ver mais ></a>
										</div>
									</div>
								</li>
								<li data-filter-class='["design"]'
									data-overview='[{
										"headerBg":"img/portfolio/mochito_bg_portfolio_header.jpg",
										"logo":"img/portfolio/projecto_logo.png",
										"description":"Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.",
										"url":"www.wiselythemes.com/mochito",
										"imgs":[
											{
												"title":"Mochito Template",
												"img":"img/portfolio/mochito1.png"
											},
											{
												"title":"Website Preview",
												"img":"img/portfolio/mochito2.png"
											},
											{
												"title":"Responsive Design",
												"description":"Lorem ipsum dolor sit amet",
												"img":"img/portfolio/mochito3.png"
											}]
										}]'>
									<img src="img/portfolio/image_7.jpg" alt="" />
									<div>
										<span class="tags"><a href="#">#WiselyThemes</a>, <a href="#">#Template</a>, <a href="#">#Responsive</a></span>
										<div class="info">
											<h2>Mochito</h2>
											<h5>Lorem ipsum dolor sit amet</h5>
											<a href="#" class="btn btn-small btn-folio">Ver mais ></a>
										</div>
									</div>
								</li>
								<li data-filter-class='["development"]'
									data-overview='[{
										"headerBg":"img/portfolio/mochito_bg_portfolio_header.jpg",
										"logo":"img/portfolio/projecto_logo.png",
										"description":"Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.",
										"url":"www.wiselythemes.com/mochito",
										"imgs":[
											{
												"title":"Mochito Template",
												"img":"img/portfolio/mochito1.png"
											},
											{
												"title":"Website Preview",
												"img":"img/portfolio/mochito2.png"
											},
											{
												"title":"Responsive Design",
												"description":"Lorem ipsum dolor sit amet",
												"img":"img/portfolio/mochito3.png"
											}]
										}]'>
									<img src="img/portfolio/image_8.jpg" alt="" />
									<div>
										<span class="tags"><a href="#">#WiselyThemes</a>, <a href="#">#Template</a>, <a href="#">#Responsive</a></span>
										<div class="info">
											<h2>Mochito</h2>
											<h5>Lorem ipsum dolor sit amet</h5>
											<a href="#" class="btn btn-small btn-folio">Ver mais ></a>
										</div>
									</div>
								</li>
								<li data-filter-class='["dd"]'
									data-overview='[{
										"headerBg":"img/portfolio/mochito_bg_portfolio_header.jpg",
										"logo":"img/portfolio/projecto_logo.png",
										"description":"Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.",
										"url":"www.wiselythemes.com/mochito",
										"imgs":[
											{
												"title":"Mochito Template",
												"img":"img/portfolio/mochito1.png"
											},
											{
												"title":"Website Preview",
												"img":"img/portfolio/mochito2.png"
											},
											{
												"title":"Responsive Design",
												"description":"Lorem ipsum dolor sit amet",
												"img":"img/portfolio/mochito3.png"
											}]
										}]'>
									<img src="img/portfolio/image_9.jpg" alt="" />
									<div>
										<span class="tags"><a href="#">#WiselyThemes</a>, <a href="#">#Template</a>, <a href="#">#Responsive</a></span>
										<div class="info">
											<h2>Mochito</h2>
											<h5>Lorem ipsum dolor sit amet</h5>
											<a href="#" class="btn btn-small btn-folio">Ver mais ></a>
										</div>
									</div>
								</li>
								<li data-filter-class='["design"]'
									data-overview='[{
										"headerBg":"img/portfolio/mochito_bg_portfolio_header.jpg",
										"logo":"img/portfolio/projecto_logo.png",
										"description":"Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.",
										"url":"www.wiselythemes.com/mochito",
										"imgs":[
											{
												"title":"Mochito Template",
												"img":"img/portfolio/mochito1.png"
											},
											{
												"title":"Website Preview",
												"img":"img/portfolio/mochito2.png"
											},
											{
												"title":"Responsive Design",
												"description":"Lorem ipsum dolor sit amet",
												"img":"img/portfolio/mochito3.png"
											}]
										}]'>
									<img src="img/portfolio/image_10.jpg" alt="" />
									<div>
										<span class="tags"><a href="#">#WiselyThemes</a>, <a href="#">#Template</a>, <a href="#">#Responsive</a></span>
										<div class="info">
											<h2>Mochito</h2>
											<h5>Lorem ipsum dolor sit amet</h5>
											<a href="#" class="btn btn-small btn-folio">Ver mais ></a>
										</div>
									</div>
								</li>
								<li data-filter-class='["development"]'
									data-overview='[{
										"headerBg":"img/portfolio/mochito_bg_portfolio_header.jpg",
										"logo":"img/portfolio/projecto_logo.png",
										"description":"Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.",
										"url":"www.wiselythemes.com/mochito",
										"imgs":[
											{
												"title":"Mochito Template",
												"img":"img/portfolio/mochito1.png"
											},
											{
												"title":"Website Preview",
												"img":"img/portfolio/mochito2.png"
											},
											{
												"title":"Responsive Design",
												"description":"Lorem ipsum dolor sit amet",
												"img":"img/portfolio/mochito3.png"
											}]
										}]'>
									<img src="img/portfolio/image_1.jpg" alt="" />
									<div>
										<span class="tags"><a href="#">#WiselyThemes</a>, <a href="#">#Template</a>, <a href="#">#Responsive</a></span>
										<div class="info">
											<h2>Mochito</h2>
											<h5>Lorem ipsum dolor sit amet</h5>
											<a href="#" class="btn btn-small btn-folio">Ver mais ></a>
										</div>
									</div>
								</li>
								<li data-filter-class='["dd"]'
									data-overview='[{
										"headerBg":"img/portfolio/mochito_bg_portfolio_header.jpg",
										"logo":"img/portfolio/projecto_logo.png",
										"description":"Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.",
										"url":"www.wiselythemes.com/mochito",
										"imgs":[
											{
												"title":"Mochito Template",
												"img":"img/portfolio/mochito1.png"
											},
											{
												"title":"Website Preview",
												"img":"img/portfolio/mochito2.png"
											},
											{
												"title":"Responsive Design",
												"description":"Lorem ipsum dolor sit amet",
												"img":"img/portfolio/mochito3.png"
											}]
										}]'>
									<img src="img/portfolio/image_2.jpg" alt="" />
									<div>
										<span class="tags"><a href="#">#WiselyThemes</a>, <a href="#">#Template</a>, <a href="#">#Responsive</a></span>
										<div class="info">
											<h2>Mochito</h2>
											<h5>Lorem ipsum dolor sit amet</h5>
											<a href="#" class="btn btn-small btn-folio">Ver mais ></a>
										</div>
									</div>
								</li>
								<li data-filter-class='["3d"]'
									data-overview='[{
										"headerBg":"img/portfolio/mochito_bg_portfolio_header.jpg",
										"logo":"img/portfolio/projecto_logo.png",
										"description":"Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.",
										"url":"www.wiselythemes.com/mochito",
										"imgs":[
											{
												"title":"Mochito Template",
												"img":"img/portfolio/mochito1.png"
											},
											{
												"title":"Website Preview",
												"img":"img/portfolio/mochito2.png"
											},
											{
												"title":"Responsive Design",
												"description":"Lorem ipsum dolor sit amet",
												"img":"img/portfolio/mochito3.png"
											}]
										}]'>
									<img src="img/portfolio/image_3.jpg" alt="" />
									<div>
										<span class="tags"><a href="#">#WiselyThemes</a>, <a href="#">#Template</a>, <a href="#">#Responsive</a></span>
										<div class="info">
											<h2>Mochito</h2>
											<h5>Lorem ipsum dolor sit amet</h5>
											<a href="#" class="btn btn-small btn-folio">Ver mais ></a>
										</div>
									</div>
								</li>
								
								
								<li data-filter-class='["design"]' class="disable"
									data-overview='[{
										"headerBg":"img/portfolio/mochito_bg_portfolio_header.jpg",
										"logo":"img/portfolio/projecto_logo.png",
										"description":"Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.",
										"url":"www.wiselythemes.com/mochito",
										"imgs":[
											{
												"title":"Mochito Template",
												"img":"img/portfolio/mochito1.png"
											},
											{
												"title":"Website Preview",
												"img":"img/portfolio/mochito2.png"
											},
											{
												"title":"Responsive Design",
												"description":"Lorem ipsum dolor sit amet",
												"img":"img/portfolio/mochito3.png"
											}]
										}]'>
									<img src="img/portfolio/image_4.jpg" alt="" />
									<div>
										<span class="tags"><a href="#">#Wisely</a>, <a href="#">#Template</a>, <a href="#">#Responsive</a></span>
										<div class="info">
											<h2>Mochito</h2>
											<h5>Lorem ipsum dolor sit amet</h5>
											<a href="#" class="btn btn-small btn-folio">Ver mais ></a>
										</div>
									</div>
								</li>
								<li data-filter-class='["development"]' class="disable"
									data-overview='[{
										"headerBg":"img/portfolio/mochito_bg_portfolio_header.jpg",
										"logo":"img/portfolio/projecto_logo.png",
										"description":"Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.",
										"url":"www.wiselythemes.com/mochito",
										"imgs":[
											{
												"title":"Mochito Template",
												"img":"img/portfolio/mochito1.png"
											},
											{
												"title":"Website Preview",
												"img":"img/portfolio/mochito2.png"
											},
											{
												"title":"Responsive Design",
												"description":"Lorem ipsum dolor sit amet",
												"img":"img/portfolio/mochito3.png"
											}]
										}]'>
									<img src="img/portfolio/image_5.jpg" alt="" />
									<div>
										<span class="tags"><a href="#">#Wisely</a>, <a href="#">#Template</a>, <a href="#">#Responsive</a></span>
										<div class="info">
											<h2>Mochito</h2>
											<h5>Lorem ipsum dolor sit amet</h5>
											<a href="#" class="btn btn-small btn-folio">Ver mais ></a>
										</div>
									</div>
								</li>
								<li data-filter-class='["dd"]' class="disable"
									data-overview='[{
										"headerBg":"img/portfolio/mochito_bg_portfolio_header.jpg",
										"logo":"img/portfolio/projecto_logo.png",
										"description":"Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.",
										"url":"www.wiselythemes.com/mochito",
										"imgs":[
											{
												"title":"Mochito Template",
												"img":"img/portfolio/mochito1.png"
											},
											{
												"title":"Website Preview",
												"img":"img/portfolio/mochito2.png"
											},
											{
												"title":"Responsive Design",
												"description":"Lorem ipsum dolor sit amet",
												"img":"img/portfolio/mochito3.png"
											}]
										}]'>
									<img src="img/portfolio/image_6.jpg" alt="" />
									<div>
										<span class="tags"><a href="#">#Wisely</a>, <a href="#">#Template</a>, <a href="#">#Responsive</a></span>
										<div class="info">
											<h2>Mochito</h2>
											<h5>Lorem ipsum dolor sit amet</h5>
											<a href="#" class="btn btn-small btn-folio">Ver mais ></a>
										</div>
									</div>
								</li>
								<li data-filter-class='["design"]' class="disable"
									data-overview='[{
										"headerBg":"img/portfolio/mochito_bg_portfolio_header.jpg",
										"logo":"img/portfolio/projecto_logo.png",
										"description":"Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.",
										"url":"www.wiselythemes.com/mochito",
										"imgs":[
											{
												"title":"Mochito Template",
												"img":"img/portfolio/mochito1.png"
											},
											{
												"title":"Website Preview",
												"img":"img/portfolio/mochito2.png"
											},
											{
												"title":"Responsive Design",
												"description":"Lorem ipsum dolor sit amet",
												"img":"img/portfolio/mochito3.png"
											}]
										}]'>
									<img src="img/portfolio/image_7.jpg" alt="" />
									<div>
										<span class="tags"><a href="#">#Wisely</a>, <a href="#">#Template</a>, <a href="#">#Responsive</a></span>
										<div class="info">
											<h2>Mochito</h2>
											<h5>Lorem ipsum dolor sit amet</h5>
											<a href="#" class="btn btn-small btn-folio">Ver mais ></a>
										</div>
									</div>
								</li>
								<li data-filter-class='["development"]' class="disable"
									data-overview='[{
										"headerBg":"img/portfolio/mochito_bg_portfolio_header.jpg",
										"logo":"img/portfolio/projecto_logo.png",
										"description":"Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.",
										"url":"www.wiselythemes.com/mochito",
										"imgs":[
											{
												"title":"Mochito Template",
												"img":"img/portfolio/mochito1.png"
											},
											{
												"title":"Website Preview",
												"img":"img/portfolio/mochito2.png"
											},
											{
												"title":"Responsive Design",
												"description":"Lorem ipsum dolor sit amet",
												"img":"img/portfolio/mochito3.png"
											}]
										}]'>
									<img src="img/portfolio/image_8.jpg" alt="" />
									<div>
										<span class="tags"><a href="#">#Wisely</a>, <a href="#">#Template</a>, <a href="#">#Responsive</a></span>
										<div class="info">
											<h2>Mochito</h2>
											<h5>Lorem ipsum dolor sit amet</h5>
											<a href="#" class="btn btn-small btn-folio">Ver mais ></a>
										</div>
									</div>
								</li>
								<li data-filter-class='["dd"]' class="disable"
									data-overview='[{
										"headerBg":"img/portfolio/mochito_bg_portfolio_header.jpg",
										"logo":"img/portfolio/projecto_logo.png",
										"description":"Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.",
										"url":"www.wiselythemes.com/mochito",
										"imgs":[
											{
												"title":"Mochito Template",
												"img":"img/portfolio/mochito1.png"
											},
											{
												"title":"Website Preview",
												"img":"img/portfolio/mochito2.png"
											},
											{
												"title":"Responsive Design",
												"description":"Lorem ipsum dolor sit amet",
												"img":"img/portfolio/mochito3.png"
											}]
										}]'>
									<img src="img/portfolio/image_9.jpg" alt="" />
									<div>
										<span class="tags"><a href="#">#Wisely</a>, <a href="#">#Template</a>, <a href="#">#Responsive</a></span>
										<div class="info">
											<h2>Mochito</h2>
											<h5>Lorem ipsum dolor sit amet</h5>
											<a href="#" class="btn btn-small btn-folio">Ver mais ></a>
										</div>
									</div>
								</li>
								<li data-filter-class='["3d"]' class="disable"
									data-overview='[{
										"headerBg":"img/portfolio/mochito_bg_portfolio_header.jpg",
										"logo":"img/portfolio/projecto_logo.png",
										"description":"Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.",
										"url":"www.wiselythemes.com/mochito",
										"imgs":[
											{
												"title":"Mochito Template",
												"img":"img/portfolio/mochito1.png"
											},
											{
												"title":"Website Preview",
												"img":"img/portfolio/mochito2.png"
											},
											{
												"title":"Responsive Design",
												"description":"Lorem ipsum dolor sit amet",
												"img":"img/portfolio/mochito3.png"
											}]
										}]'>
									<img src="img/portfolio/image_10.jpg" alt="" />
									<div>
										<span class="tags"><a href="#">#Wisely</a>, <a href="#">#Template</a>, <a href="#">#Responsive</a></span>
										<div class="info">
											<h2>Mochito</h2>
											<h5>Lorem ipsum dolor sit amet</h5>
											<a href="#" class="btn btn-small btn-folio">Ver mais ></a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					
					<div class="span12 center"><a href="#" id="load-works" class="btn btn-large">Load More Works...</a></div>
				</div>
			</div>
		</section>
		
		<section id="services">
			<div id="services-img" class="parallax"></div>
			<div class="container">
				<div class="row">
					<div class="span12">
						<h1 class="section-title span6">Services</h1>
						<p class="section-desc span6 center">Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.</p>
					</div>
				</div>
			</div>
			<div id="services-container">
				<div class="container">
					<div class="row">
						<div class="span12">
							<div class="services-item ">
								<i class="icon-desktop"></i>
								<h3>Web Design <span>& </span>Development</h3>
								<p>Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.</p>
							</div>
							<div class="services-item">	
								<i class="icon-thumbs-up-alt"></i>
								<h3>Apps, Contests <span>& </span>Sweepstakes</h3>
								<p>Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.</p>
							</div>
							<div class="services-item">
								<i class="icon-mobile-phone"></i>
								<h3>Mobile Apps <span>& </span>Contents</h3>
								<p>Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.</p>
							</div>
							<div class="services-item">
								<i class="icon-picture"></i>
								<h3>Social Media <span>& </span>Web Content</h3>
								<p>Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.</p>
							</div>
						</div>
						
						<div class="span12 center"><a href="#contacts" id="workwithus" class="btn btn-large full-color">Want to work with us?</a></div>
					</div>
				</div>
			</div>
		</section>
		
		<section id="about">
			<div id="about-img" class="parallax"></div>
			<div class="container">
				<div class="row">
					<div class="span12">
						<h1 class="section-title span6">About</h1>
						<p class="section-desc span6 center">Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.</p>
					</div>
				</div>
				<div class="row">
					<div class="span8">
						<div class="row">
							<div class="team-member">
								<div class="team-member-img">
									<img src="img/team1.jpg" alt="" />
									<h2>John Doe <span>WEB DEVELOPER</span></h2>
								</div>
								<p>Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.</p>
							</div>
							<div class="team-member">
								<div class="team-member-img">
									<img src="img/team2.jpg" alt="" />
									<h2>Mary Doe <span>WEB DESIGNER</span></h2>
								</div>
								<p>Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.</p>
							</div>
						</div>
					</div>
					<div class="span4" id="skills">
						<h4>Our Skills</h4>
						
						<div class="progress" data-percentage="92"><span>HTML5 / CSS3</span><div class="bar"></div></div>
						<div class="progress" data-percentage="75"><span>PHP</span><div class="bar"></div></div>
						<div class="progress" data-percentage="84"><span>JavaScript</span><div class="bar"></div></div>
						<div class="progress" data-percentage="80"><span>MySql</span><div class="bar"></div></div>
						<div class="progress" data-percentage="91"><span>Photoshop</span><div class="bar"></div></div>
						<div class="progress" data-percentage="72"><span>Illustrator</span><div class="bar"></div></div>
						<div class="progress" data-percentage="64"><span>Flash</span><div class="bar"></div></div>
						
						<i class="icon-cogs"></i>
						<h3 class="center">And we are getting<br/> better every day...</h3>
					</div>
				</div>
			</div>
		</section>
		
		<section id="contacts">
			<div class="container">
				<div class="row">
					<div class="span12">
						<h1 class="section-title span6">Contact us</h1>
						<p class="section-desc span6 center">Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Nam ut sollicitudin lacus. Nulla id imperdiet purus, id tristique erat.</p>
						
						<ul id="form-opt">
							<li data-id="0" class="active">General Contact</li>
							<li data-id="1" >Request proposal</li>
						</ul>
						
						<form id="form-contact" method="post" action="#">
							<div class="span6 center"><input type="text" placeholder="Name" name="contact_name" id="contact_name" /></div>
							<div class="span6 center"><input type="email" placeholder="Email" name="contact_email" id="contact_email" /></div>
							<div class="span6 center hide"><input type="text" placeholder="Company" name="contact_company" id="contact_company" /></div>
							<div class="span6 center hide"><input type="text" placeholder="Budget" name="contact_budget" id="contact_budget" /></div>
							<div class="span6 center"><textarea cols="6" rows="4" placeholder="Message" name="contact_message" id="contact_message"></textarea></div>
							<div class="span12 center"><a href="#" id="contact_send" class="btn btn-large btn-icon white"><i class="icon-envelope-alt"></i>Send</a></div>
						</form>
					</div>
						
					<span class="contacts-info span4"><i class="icon-map-marker"></i> 24th Street, New York, USA</span>
					<span class="contacts-info span4"><i class="icon-phone"></i> 555 123 456 789</span>
					<span class="contacts-info span4"><i class="icon-envelope-alt"></i> <a href="mailto:{{ site.email }}">{{ site.email }}</a></span>
				</div>
			</div>
			
			{% if site.location.latitude && site.location.longitude %}<div id="map_canvas"></div>{% endif %}
		</section>	
	</div>
	
	<footer id="footer">{% include footer.html %}</footer>
	
	<!-- BEGIN SINGLE PORTFOLIO ITEM TEMPLATE -->
	<div class="project-page">
		<header class="project-header">
			<button class="btn white2 portfolio-back">Back <i class="icon-arrow-right"></i></button>
			<img src="img/portfolio/arctic_bg_portfolio_header.html" alt="" id="project-header-bg" />
			<div class="container">
				<div class="row">
					<div class="span8 project-desc"></div>
				</div>
			</div>
		</header>
		<div class="container">
			<div class="row">
				<div class="span12 project-overview"></div>
			</div>
		</div>
		<button class="btn portfolio-back">Back <i class="icon-arrow-right"></i></button>
	</div>
	<!-- END SINGLE PORTFOLIO ITEM TEMPLATE -->

{% include template-settings.html %}

	<!-- Libs -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
	<script src="js/jquery.easing.min.js"></script>
	
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.scrollTo-1.4.2-min.js"></script>
	<script src="js/jquery.placeholder.min.js"></script>
	<script src="js/waypoints.min.js"></script>
	<script src="js/waypoints-sticky.min.js"></script>
	<script src="js/retina.js"></script>
	<script src="js/jquery.parallax-1.1.3.js"></script>
	<script src="js/jquery.imagesloaded.js"></script>
	<script src="js/jquery.wookmark.min.js"></script>
	<script src="js/portfolioanimation.js"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
	<script src="js/jquery.minicolors.js"></script>
	<script src="js/template.settings.js"></script>
	<script src="js/scripts.js"></script>

{% if site.location.latitude && site.location.longitude %}
	<script type="text/javascript">
		//<![CDATA[
		Mochito.initialize({{ site.location.latitude }}, {{ site.location.longitude }}, '{{ site.title }}', '{% if site.location.addr %}<br/>{{ site.location.addr }}{% endif %}<br/>{% if site.location.city %}{{ site.location.city }}{% endif %}{% if site.location.country %}, {{ site.location.country }}{% endif %}<br/>{% if site.location.tel %}<br/>Tel.: {{ site.location.tel }}{% endif %}{% if site.location.fax %}<br/>Fax: {{ site.location.tel }}{% endif %}', 'img/logo.png');
		//]]>
    </script>
{% endif %}

	{% if site.google_analytics %}{% include google-analytics.html %}{% endif %}

</body>
</html>